
  
  .container {
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin: 0 auto 3rem;
  }
  
  .faq {
    margin-bottom: 20px;
  }
  
  .question {
    cursor: pointer;
    font-size: 18px;
    margin: 0;
    padding: 10px;
    background-color: var(--color-secondary);
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .question:hover {
    background-color: #e0e0e0;
  }
  
  .answer {
    display: none;
    margin: 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    line-height: 1.5;
  }
  
  .answer p:last-child {
    margin-bottom: 0;
  }
  
  .question i {
    float: right;
  }
  
  /* Estilos para dispositivos móveis */
  @media screen and (max-width: 480px) {
    .container {
      padding: 10px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    .question {
      font-size: 16px;
      padding: 8px;
    }
  
    .answer {
      padding: 8px;
    }
  }
  